<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706403775088-3nks2l4m9p7u9335vc843qq0bk32j81c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706403775088-3nks2l4m9p7u9335vc843qq0bk32j81c</string>
	<key>API_KEY</key>
	<string>AIzaSyBm4Jk28rD9l9GqZcai8ZffKINQFdfOJCI</string>
	<key>GCM_SENDER_ID</key>
	<string>706403775088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muhammetulas.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>insta-clone-6f376</string>
	<key>STORAGE_BUCKET</key>
	<string>insta-clone-6f376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706403775088:ios:c5fa11efc25faf05d5bab5</string>
</dict>
</plist>